body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
/* TODO: size images manually so this is not necessary */
img {
  max-width: 80%;
}

/***************** NAV *****************/

nav a,i:hover {
  color: darkgray;
}
nav li{
  background-color: #3D7FCF;
  display: flex; 
  justify-content: space-around;
  padding: 1rem 1rem;
  
}
nav a,i{
  color: white;
  text-decoration: none;

}
/**************** HERO *****************/

.logo {
  float: left;
  max-height: 9rem;
  padding: 1rem 0rem 1rem 10rem;
}

h1 {
  width: 25%;
  color: darkgrey;
  display: inline-flex;
  font-size: 2rem;
  padding: 3rem .5rem;
  margin: auto;
}

/**************** ASIDE ****************/

aside {
  width: 50%;
  margin: auto;
}

input[type="submit"] {
  margin: .5rem;
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/
.item-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  
}
.item {
  width: 42%;
  padding: 2rem;
  margin: auto;
  
}
section {
  float: right;
  padding: 0 .75rem;
  width:100%;
}

h2 {
  padding-top: 5rem;
  font-size: 2.5rem;
  text-align: center;
  color: #2d2d2d;  
}

h3 {
  font-size: 1.6rem;
  text-align: center;
  color: darkgrey;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  text-align: center;
}

.price {
  font-family: "Open Sans", sans-serif;
  color: #3D7FCF;
  text-align: center;
}
h3, p, .price{
  background-color: aliceblue;
  padding: 1.25rem 2.5rem;
  background-clip: border-box;    

}
/*********MEDIA QUERIES******
Write CSS that uses media queries to change layouts/style based on device attributes. This should complete the styling for the project. 
*/
@media (max-width:375px) {
  h3 { font-size: 1.2rem; }
  .logo { padding: 0; 
          max-width: 40%; }
  h1, h2 { font-size: 1.3rem;}
  .item { width: 80%;}
  img { max-width: 60%;
        padding: 0rem 3rem;}
  h3, p, .price {
  padding: 1rem 1rem;
  background-clip: border-box;}  
}
  
@media (min-width:1200px) {
  .logo { padding: 1rem 0rem 1rem 24rem;}
}
         


